---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /wordpress/cv/
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://www.stuartgeiger.com/geiger-cv.pdf"><span style="color: #333333;"><span>Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Mengchen Dong</b></h1>
<p style="line-height: 1.5;" align="center"><span><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span>MPI | <a href="http://www.stuartgeiger.com/">http://www.stuartgeiger.com</a> | <a href="http://www.twitter.com/staeiou">@staeiou</a> | <a href="http://is.gd/geiger_cites">Google Scholar</a></span></p>

<a name="education"><h2 class="western">Education:</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Ph.D., </b></span><span><b>Information Management & Systems with a designated emphasis in New Media</b></span><span><b> VU</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span> December 2015</span></li>
  <li><b><span>Doctoral Thesis:</b></span><span> Theis name   </span></li>
 	<li><span><b>Advisor:</b></span><span> Prof. Jenna Burrell</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>M.A., Communication, Culture, and Technology</b>, <b>Beijing Normal University</b></span>
<ul>
 	<li><strong><span><b>Date:</b></span></strong><span> May 2009</span></li>
 	<li><span><b>Master’s Thesis</b>: Working within Wikipedia: Infrastructures of Knowing and Knowledge Production</li</span>
 	<li><span><b>Advisor: </b>Prof.</span><span> David Ribes</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>B.A., Humanities Honors,</b> <b>University of Texas at Austin</b></span>
<ul>
 	<li><strong><span><b>Date: </b></span></strong><span>May 2007</span></li>
  <li><span><b>Senior Thesis</b>: Democracy in Wikipedia</li></span>
 	<li><span><b>Advisor:</b></span><span> Prof. Elizabeth Keating</span></li>
</ul>
</li>
</ul>
<a name="employment"><h2>Employment</h2></a>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span><b>PhD</b> Amsterdam </span></li>

</ul>

<a name="publications"><h2 id="peer-reviewed-journal-publications-">Peer-Reviewed Journal Publications:</h2></a>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.,</strong> Varoquaux, N., Mazel-Cabasse, C., and Holdgraf, C. (2018). &quot;The Types, Roles, and Practices of Documentation in Data Analytics Open Source Software Libraries: A Collaborative Ethnography of Documentation Work.&quot;  <em>Computer-Supported Cooperative Work (JCSCW).</em> <a href="https://doi.org/10.1007/s10606-018-9333-1">https://doi.org/10.1007/s10606-018-9333-1</a>  <strong>Best paper award (1st runner-up)</strong></li>
</ol>
<h2 id="peer-reviewed-conference-proceedings-">Peer-Reviewed Archived Conference Proceedings:</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.,</strong> K. Yu, Y. Yang, M. Dai, J. Qiu, R. Tang, and J. Huang. (2020). &quot;Garbage In, Garbage Out: Do Machine Learning Application Papers in Social Computing Report Where Human-Labeled Training Data Comes From?&quot; <em>Proceedings of the ACM Conference on Fairness, Accountability, and Transparency</em>(FAT* 2020). <a href-"https://arxiv.org/abs/1912.08320">https://arxiv.org/abs/1912.08320</a></li>

</ol>
<h2 id="book-chapters-and-conference-proceedings-non-peer-reviewed-">Book Chapters and Conference Proceedings (non-peer reviewed):</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S</strong>. and Lampinen, A. (2014). &quot;Old Against New, or a Coming of Age? Broadcasting in an Era of Electronic Media.&quot; <em>Journal of Broadcasting and Electronic Media</em> 58(3). <a href="http://www.tandfonline.com/doi/full/10.1080/08838151.2014.935855">http://www.tandfonline.com/doi/full/10.1080/08838151.2014.935855</a></li>

</ol>

<h2 id="reports-working-papers-and-preprints-non-peer-reviewed-">Reports, Working Papers, and Preprints (non-peer reviewed):</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S.</strong> , O. DeMasi, A. Culich, A. Zoglauer, D. Das, F. Hoces de la Guardia, K. Ottoboni, M. Fenner, N. Varoquaux, R. Barter, R. Barnes, S. Stoudt, S. Dorton, S. van der Walt. (2019). &quot;Best Practices for Fostering Diversity and Inclusion in Data Science.&quot; <em>BIDS Best Practices in Data Science Series.</em> Berkeley, CA: Berkeley Institute for Data Science. <a href="https://doi.org/10.31235/osf.io/8gsjz">https://doi.org/10.31235/osf.io/8gsjz</a></li>
</ol>

<h2 id="open-source-software-and-open-data-projects-">Open-Source Software and Open Data Projects:</h2>
<ol style="line-height: 1.5; margin: 10px 0;">
<li><strong>Geiger, R.S</strong>. (2019). &quot;ArXiV Archive: A tidy and complete archive of metadata for papers on arxiv.org, 1993-2019.&quot; <em>Zenodo</em>. <a href="http://doi.org/10.5281/zenodo.1463242">http://doi.org/10.5281/zenodo.1463242</a></li>
<li><strong>Geiger, R.S.,</strong> Paxton, A., and Haines, R. (2017). &quot;Academicpages.github.io: a ready-to-fork GitHub Pages template for personal academic websites.&quot; <em>GitHub</em>. <a href="https://academicpages.github.io">https://academicpages.github.io</a>.   <strong>Over 3,500 users.</strong></li>
<li><strong>Geiger, R.S.</strong> (2017). &quot;Getorg: a Python library for querying information and analytics about GitHub organizations.&quot; <em>GitHub</em>. <a href="https://github.com/getorg/getorg">https://github.com/getorg/getorg</a></li>
</ol>

<a name="awards"><h2>Honors and Awards</h2></a>
<ul>
<li>Research grant (lead PI): $138,055 from the Sloan Foundation &amp; Ford Foundation for 2018-2020 grant on “The Visible and Invisible Work of Maintaining Open-Source Software” w/ Co-PIs L. Irani &amp; A. Paxton</li>

</ul>




<h2>Professional Service</h2> 
<a name="memberships"><h3>Memberships in professional associations</h3></a>
<ul>
  <li>Association for Computing Machinery (ACM), 2009-present</li>
</ul>

<a name="service"><h3>Service activities</h3></a>
<ul>
<li>Lead organizer of the Best Practices in Data Science working group at the UC-Berkeley Institute for Data Science (2018-2020)</li>
</ul>

<a name="talks"><h2>Talks</h2></a>
  <ul>{% for post in site.talks reversed %}
    {% unless post.talk_type == "Conference proceedings talk" %}
      {% include archive-single-talk-cv.html %}
    {% endunless %}
  {% endfor %}</ul>

<h2>Teaching</h2>
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
5. Undergraduate Research Apprenticeship Mentor, UC-Berkeley (2018-2020)

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span><b>Topical:</b> collaboration, socialization, literacy, and governance in distributed, decentralized communities, specifically new/social media platforms and scientific research networks</span></li>
 	<li><span><b>Disciplinary:</b> social informatics, computer-supported cooperative work (CSCW), science and technology studies (STS), data science studies, critical algorithm studies, media and communication studies, organizational sociology, critical human-computer interaction (HCI)</span></li>
 	<li><span><b>Theoretical:</b> socio-technical systems, communities of practice, ethnomethodology, symbolic interactionism, distributed cognition, actor-network theory, phenomenology</span></li>
 	<li><span><b>Methodological:</b></span>
<ul>
 	<li><span>Ethnography, including interviews, focus groups, and participant-observation</span></li>
 	<li><span>Archival analysis, including individual and group-based qualitative coding</span></li>
 	<li><span>Quantitative collection and analysis of log and trace data with Python, SQL, and R</span></li>
 	<li><span>User interface evaluation, including experimental design, A/B testing, and analysis</span></li>
 	<li><span>Inductive, mixed-methodological approaches to answer complex socio-technical questions and problems using all of the above methods, as appropriate and relevant</span></li>
</ul>
</li>
</ul>
